<footer class="site-footer">
  <div class="wrapper">
    <div class="container">
      <div>
        <p>
          <a href="http://madewithloveinbaltimore.org/" target="_blank">
            Made with &hearts; in Baltimore
          </a>
        </p>
      </div>

      <div>
        <ul class="footer-links">
          <li>
              <a href="https://www.facebook.com/ClassTracks" target="_blank">
                <i class="fa fa-facebook-square fa-lg"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
                <i class="fa fa-twitter fa-lg"></i>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/company/15160096" target="_blank">
                <i class="fa fa-linkedin-square fa-lg"></i>
              </a>
            </li>
            <li>
              <a href="/contact">
                <i class="fa fa-envelope fa-lg"></i>
              </a>
            </li>
        </ul>
      </div>

      <div>
        <ul class="footer-links">
          <li>
            <a href="mailto:support@classtracks.com?subject=ClassTracks Support Request">
              Support
            </a>
          </li>
          <li>
            <a href="/terms-of-use/">
              Terms of Use
            </a>
          </li>
          <li>
            <a href="/privacy-policy/">
              Privacy Policy
            </a>
          </li>
        </ul>
      </div>

      <div>
        <p>
          &copy; Copyright ClassTracks 2016
        </p>
      </div>
    </div>
  </div>
</footer>
