/**
 * Body
 */

/**
 * Site header
 */
.site-header {
  min-height: 50px;
  background-color: rgba(255,255,255,0.9);
  box-shadow: 0px 1px 10px rgba(101,110,119,0.2);

  // Positioning context for the mobile navigation icon
  position: relative;
  z-index: 100;
  @include media-query($on-palm) {
    background: $white;
    padding: 20px 0;
  }
}

.site-title {
  font-size: 26px;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 8px;
  float: left;
  img {
    max-width:225px;
  }
  &,
  &:visited {
    color: $white;
  }
  @include media-query($on-palm) {
    float: none;
    text-align: left;
    display: block;
    margin: 0 auto;
    img {
      width: 50%;
    }
  }
}

.site-nav {
  float: right;
  line-height: 56px;
  margin-top: 5px;

  .menu-icon {
    display: none;
  }

  .page-link {
    font-family: $body-font;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    color: $ct-grey-3;
    line-height: $base-line-height;
    &.active {
      border-bottom: 1px solid $ct-turquoise;
    }
    &.cta {
      color: $white;
      &.inverse {
        color: $ct-turquoise;
        border: 1px solid $ct-turquoise;
      }
    }
    &:hover {
      border-bottom: 1px solid $ct-turquoise;
      text-decoration: none !important;
    }

    // Gaps between nav items, but not on the first one
    &:not(:first-child) {
      margin-left: 20px;
      @include media-query($on-palm) {
        margin-left: 0px;
      }
    }

    &:last-child {
      margin-left: 10px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 30px;
    right: 0px;
    text-align: center;
    width: 100%;
    // for banner
    margin-top: 52px;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        width: 18px;
        height: 15px;

        path {
          fill: $ct-turquoise;
        }
      }
      &:hover {
        >svg {
          path {
            fill: $ct-turquoise;
          }
        }
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 0;
      background-color: #48CFAD;
      position: absolute;
      top: 66px;
      width: 100%;
    }

    .page-link {
      display: block;
      padding: 10px 80px 10px 20px;
      text-align: center;
      border-top: 1px solid rgba(255,255,255, .5);
      color: $white;
      &.cta {
        border-radius:0;
        border-top: 1px solid rgba(255,255,255, .5);
      }
      &.cta.inverse {
        background-color: $white;
        color: $ct-turquoise;
        border-top: 1px solid $ct-turquoise;
        margin-left: 0;
      }
    }
  }
}

/**
 * Top banner
 */
.banner {
  background-color: $ct-turquoise;
  width: 100%;
  color: $white;
  transition: background-color 0.5s ease;
  -webkit-transition: background-color 0.5s ease;
  p {
    text-align: center;
  }
  .close-button {
    float: right;
    margin-top: -37px;
    margin-right: 20px;
    cursor: pointer;
  }
  &:hover {
    background-color: $ct-blue;
  }
}

a.banner-link {
  color: $white;
  &:hover {
    color: $white;
    opacity: 0.7;   
  }
}

/**
 * Site footer
 */
.site-footer {
  padding: $spacing-unit 0 0;
  padding-bottom: $spacing-unit;
  background: $ct-turquoise;
  position: relative;
  bottom: 0;
  width: 100%;
  color: $white;
  font-weight: normal;
  text-align: center;
  ul {
    li {
      display: inline;
      &:not(:first-child) {
          margin-left: 10px;
        }
    }
  }
  a {
    color: $white;
  }
  a:hover {
    color: $white;
    opacity: 0.7;
  }
}

.site-footer ul,
.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
  li a {
    color: $white;
  }
}

/**
 * Page content
 */
.page-content {
  padding: 0;
  margin-top: 150px;
  @media screen and (min-width: 748px) {
    min-height: 748px;
  }
}


/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 4em;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

