/*===============GENERAL STYLES=========================*/
/*nav*/
nav.site-nav {
  a[href="/privacy-policy/"], a[href="/terms-of-use/"] {
    display: none;
  }
}
/*page title*/
section .hero-title {
  background-size: cover !important;
  background-position: center !important;
  margin-top: -175px;
  margin-bottom: 25px;
  padding: 200px 0 0px;
  text-align: center;
  @include media-query($on-palm) {
    margin-bottom: -30px;
  }
}
.post-title {
  color: $ct-turquoise;
}
/*buttons*/
.button {
  display: block;
  padding: 10px;
  border-radius: 2px;
  &.red {
    background: rgba($ct-red,.85);
    &:hover {
      background: $ct-turquoise;
    }
  }
}
/*fluid containers*/
.container-fluid {
  background-color: $white;
}

/*===============PAGE SPECIFIC STYLES===================*/
.home {
  @include media-query($on-palm) {
    margin-top: -55px;
  }
  margin-top: 240px;
}

section.homepage {
  position: relative;
  z-index: 99;
  margin-top: -192px;
  @include media-query($on-palm) {
    margin-top: -220px;
  }
  @media screen and (max-width: 600px) {
    margin-top:0px;
  }

  .marquee {
    background-image: url('/assets/imgs/marquees/teacher-with-student.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @media screen and (max-width: 600px) {
      padding: 55px 15px 0;
    }
    .marquee-text {
      padding-top: 250px;
      padding-bottom: 90px;
      max-width: 50%;
      margin-left: 50px;
      button {
        font-size: 22px;
        color: $white;
      }
    }
    h1 {
      color: $white;
      font-weight: 900;
      font-size: 2.5em;
      line-height: 1.2;
      max-width: 80%;
    }
    h2 {
      color: $white;
    }
    p {
      color: $white;
      font-size: 1em;
    }
    @include media-query($on-palm) {
      .marquee-text {
        padding-bottom: 50px;
        max-width: 100%;
        margin: 0;
      }
      h1 {
        max-width: 100%;
      }
      button {
        width: 100%;
      }
    }
  }
  #how-it-works-summary {
    padding-top: 60px;
    padding-bottom: 50px;
    background-color: $white;
    p:first-of-type {
      text-align: center;
    }
    h2.center {
      text-align: center;
    }
    .row.row-centered {
      text-align: center;
      padding: 1em 0;
    }
    button {
      color: $white;
    }
    img {
      width: 150px;
    }
  }
  #testimonials {
    padding: 50px;
    padding-top: 20px;
    p {
      max-width: 70%;
      margin-left: auto;
      margin-right: auto;
    }
    p:last-of-type {
      text-align: right;
    }
    .row {
      margin-bottom: 30px;
    }
    h2 {
      margin-bottom: 30px;
    }
    @include media-query($on-palm) {
      padding:0;
      max-width: 100%;
      p {
        max-width: 90%;
      }
      p:last-of-type {
        text-align: center;
      }
    }
  }
  #awards {
    margin-bottom: 50px;
    ul {
      list-style: none;
      li {
        display: inline-block;
        width: 150px;
        max-height: 100px;
        vertical-align: middle;
        text-align: center;
        margin-right: 10px;
        margin-left: 10px;

        img {
        	-webkit-filter: grayscale(100%);
        	filter: grayscale(100%);
        }

        a:hover {
        	opacity: 1;
      	  img {
        	  -webkit-filter: grayscale(0%);
        	  filter: grayscale(0%);
          }
        }
      }

      
    }
    #emaze {
      img {
        padding-top: 30px;
      }
      p {
        margin-top: -5px;
      }
    }
    #breakfast {
      width: 85%;
      margin-left: auto;
      margin-right: auto;
      p {
        margin-top: -13px;
      }
    }
    #startup-md {
      img {
        padding-top: 30px;
      }
      
    }
    #lean-lab {
      img {
        padding-top: 30px;
      }
    }
    .logo {
      img {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        transition: filter 0.5s ease;
        -webkit-transition: filter 0.5s ease;
      }
      &:hover {
        a {
          opacity: 1;
        }
        img {
          -webkit-filter: grayscale(0%);
          filter: grayscale(0%);

          &#baltimore-magazine {
            -webkit-filter: invert(100%);
            filter: invert(100%);
          }
        }
      }
    }
    .awards-container {
      width: 100%;
      height: 145px;
      overflow-x: scroll;
      overflow-y: hidden;
    }
    .awards-scroll {
      width: 2000px;
    }
  }
  @include media-query($on-palm) {
    text-align: center;
    h2 {
      line-height: 1.25;
    }
  }
}
// Who We Are
.who-we-are {
  .hero-title {
    margin-top: -175px;
    padding: 200px 0 0px;
    text-align: center;
    @include media-query($on-palm) {
      margin-top: 0px;
      padding: 0;
    }
  }
  .row {
    padding: 30px 0;
    text-align: center;
    h2 {
      text-align: left;
      margin-left: 75px;
    }
    @include media-query($on-palm) {
      h2 {
        text-align: center;
        margin-left: 0;
      }
    }
  }
  .superheroes {
    display: inline-block;

    @include media-query($on-palm) {
      display: block;
    }
  }
  .text {
    max-width: 40%;
    float: left;
    margin-right: 20px;
    margin-top: 60px;
    @include media-query($on-palm) {
      max-width: 100%;
      float: none;
      text-align: center;
    }  
  }
  #video {
    max-width: 560px;
    width: 55%;
    @include media-query($on-palm) {
      max-width: 100%;
      height: auto;
      float: none;
      width: 100%;
    }      
  }
  .mission {
    text-align: left;
    h2 {
      margin-left: 0;
    }
    @include media-query($on-palm) {
      text-align: center;
    }
  }
  .team {
    .col-sm-4 {
      padding: 50px 30px;
    }
    p {
      text-align: center;
      margin-top: -15px;
    }
    h4 {
      color: $ct-grey-3;
      font-family: 'Lato';
      font-weight: 400;
      text-align: center;
    }
  }
  .founders {
    margin-left: auto;
    margin-right: auto;
  }
  .headshot {
  	margin-left: auto;
  	margin-right: auto;
    max-height: 300px;
    max-width: 300px;
    overflow: hidden;
    border-radius: 150px;
  }
  .bio {
  	background-color: $ct-grey-5;
  	padding-top: 30px;
  	padding-bottom: 10px;
  	padding-left: 20px;
  	p {
  		text-align: left;
  		color: $white;
  	}
  }
  .arrow {
  	height: 0;
  	width: 0;
  	margin-left: auto;
  	margin-right: auto;
  	border-left: 15px solid transparent;
  	border-right: 15px solid transparent;
  	border-bottom: 15px solid $ct-grey-5;
  }
  .timeline-wrap {
    height: 400px;
    width: 100%;
    background-color: $white;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
    transform: translateZ(0);
  }
  .timeline-inner {
    z-index: 1;
    height: 100%;
    width: 100%;
    min-width: 1195px;
    top: 0;
    left: 0;
    position: absolute;
    background-size: auto 100%;
    background-image: url('/assets/imgs/timeline.png');
    @include media-query($on-palm) {
      width: 1195px;
    }
  }
  button {
    color: $white;
  }
}

// How It Works
section.how-it-works {
  .row {
    margin-bottom: 100px;
  }
  h3 {
    font-family: 'Lato';
    font-weight: 700;
    line-height: 1.25;
  }
  a {
    color: $ct-turquoise;
    &:hover {
      opacity:0.7;
    }
  }
  .instruction-details {
    display: inline-block;
    &.left {
      float: left;
      max-width: 45%;
      margin-right: 20px;
    }
    &.right {
      float: right;
      max-width: 50%;
    }
  }
  .screen {
    border: 2px solid $ct-grey-2;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .screen-top {
    background-color: $ct-grey-1;
    border-bottom: 2px solid $ct-grey-2;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding-left: 10px;
  }
  .screen-buttons {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    &.red {
      background-color: $ct-red;
    }
    &.yellow {
      background-color: $ct-yellow;
    }
    &.green {
      background-color: $ct-turquoise;
    }
  }
  .cta {
    margin-top: 50px;
    text-align: center;

    button {
      color: white;
    }
  }
  @include media-query($on-palm) {
    .instruction-details {
      display: block;
      &.left {
        float: none;
        max-width: 100%;
        text-align: center;
      }
      &.right {
        float: none;
        max-width: 100%;
      }
    }
  }
  ul {
    font-weight: 400;
  }
}
// Legal
body.legal {
  padding-top: 0px;
  .hero-title {
    margin-top: -175px;
    padding: 200px 0 0px;
    text-align: center;
    background-color: $ct-grey-1;
    background-size: 100%;
    background-position: center;
    @include media-query($on-palm) {
      margin-top: 0px;
      padding: 75px 0;
    }
    p.intro {
      text-align: center;
      color: $ct-grey-4;
    }
  }
  .row {
    padding: 1.5em 0;
  }
}
// Contact Us Page
.contact-us {
  h2 {
    text-align: center;
  }
  .form {
    margin-bottom: 50px;
    text-align: center;
    .col-md-6 {
      padding: 0 5%;
    }
    form {
    	margin-top: 50px;
    }
    input, textarea {
      width: 100%;
      margin-bottom: 25px;
    }
    button {
      background-color: $ct-turquoise;
      color: $white;
      &:hover {
        opacity:0.75;
      }
    }
  }
}
// FAQs
.faq {
  .question {
    padding-left: 100px;
    padding-right: 100px;
    @include media-query($on-palm) {
      padding: 0;
    }
  }
  a:hover {
    opacity: 0.75;
  }
  .row {
    margin-bottom: 50px;
  }
  .cta {
    text-align: center;
    button {
      color: $white;
    }
  }
  ol {
    font-weight: 400;
  }
  @include media-query($on-palm) {
    text-align: center;
    h2 {
      line-height: 1.25;
    }
    ol {
      li {
        text-align: left;
      }
    }
  }
}
// Work With Us
.work-with-us {
  .form {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    .col-md-6 {
      padding: 0 5%;
    }
    input, textarea {
      width:100%;
      margin-bottom: 25px;
    }
    button {
      color: $white;
    }
  }
  .content {
    padding-left: 100px;
    padding-right: 100px;
    @include media-query($on-palm) {
      padding: 0;
    }
  }
}

// Get Started
.get-started {
  text-align: center;
  #why-classtracks {
    p {
      text-align: left;
    }
    ol {
      text-align: left;
    }
  }
  #start-trial {
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 55px;
    background-color: rgb(249, 249, 249);
    button {
      color: $white;
    }
  }
  .form {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    .col-md-6 {
      padding: 0 5%;
    }
    form {
    	margin-top: 50px;
    }
    input, textarea {
      width:100%;
      margin-bottom: 25px;
    }
    button {
      color: $white;
    }
  }
  .content {
    padding-left: 100px;
    padding-right: 100px;
    @include media-query($on-palm) {
      padding: 0;
    }
  }
  @include media-query($on-palm) {
      h2 {
        line-height: 1.25;
      }
    }
}

// Warnock
.warnock {
  .content {
    text-align: center;
  }
  .form {
    margin-bottom: 50px;
    text-align: center;
    .col-md-6 {
      padding: 0 5%;
    }
    form {
      margin-top: 50px;
    }
    input, textarea {
      width: 100%;
      margin-bottom: 25px;
    }
    button {
      background-color: $ct-turquoise;
      color: $white;
      &:hover {
        opacity: 0.75;
      }
    }
  }
}