/*===============GENERAL STYLES=========================*/
/*nav*/
nav.site-nav {
	a[href="/privacy-policy/"], a[href="/terms-of-use/"] {
		display: none;
	}
}
/*page title*/
section .hero-title {
	background-size: cover !important;
	background-position: center !important;
	/*background-color: $dark-color;*/
	margin-top:-175px;
    margin-bottom: 25px;
	padding: 200px 0 0px;
	text-align: center;
}
.post-title {
	color: $ct-turquoise;
}
/*intro copy*/
p.intro {
	color: $white;
	margin: 15px auto;
	text-align: left;
}
/*buttons*/
.button {
	display:block;
	padding: 10px;
	border-radius: 2px;
	&.red {
		background: rgba($ct-red,.85);
		&:hover {
			background: $ct-turquoise;
		}
	}
}
/*fluid containers*/
.container-fluid {
	background-color: $white;
}

/*===============PAGE SPECIFIC STYLES===================*/
.home {
	.site-title img {
		display: none;
		width:20px;
		height:20px;
		box-sizing:border-box;
		padding-left: 20px;
		/*width of the image*/
		background: url('/assets/logos/solid-white-transparent.png') left top no-repeat;
	}
	.page-link {
		color: $white;
		font-weight: 400;
		&.cta {
			border: none;
		}
	}
}

section.homepage {
	position: relative;
	z-index: 99;
	margin-top:-175px;
	@include media-query($on-laptop) {
		margin-top: -220px;
	}
	@media screen and (max-width: 600px) {
		margin-top:0px;
	}

	.marquee {
		/*padding: 413px 0 0;*/
		background-image:url('/assets/imgs/marquees/teacher-with-student.png');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		@media screen and (max-width: 600px) {
			padding: 55px 15px 0;
		}
		.marquee-text {
			padding-top: 250px;
			padding-bottom: 90px;
			max-width: 50%;
			margin-left: 50px;
			button {
				font-size: 22px;
				color: $white;
			}
		}
		h1 {
			color: $white;
			font-weight: 900;
			font-size: 2.5em;
			line-height: 1.2;
		}
		h2 {
			color: $white;
		}
		p {
			color: $white;
			font-size: 1em;
		}
		@include media-query($on-palm) {
			.marquee-text {
				padding-bottom: 50px;
			}
			button {
				width: 100%;
			}
		}
	}
	.home-cta {
		background: rgba($ct-blue,.7);
		padding: $spacing-unit 0;
		color: $white;
		text-align: center;
		.container {
			padding: 0;
		}
		p { font-size: 20px;}
		button { font-size: 22px; margin: 0 0 0 25px;}
		.signup-form {
			margin-top:-60px;
			.summary {
				padding: $spacing-unit+10 ($spacing-unit*2)+20 $spacing-unit*2 $spacing-unit;
				.row {
					margin-bottom:  $spacing-unit/2;
				}
				@media screen and (max-width: 600px) {
					padding: $spacing-unit+10;
				}
			}
			h4 {
				display: inline;
			}
			h3 {
				color: $white;
				margin-bottom: $spacing-unit+10;
			}
			#mc_embed_signup {
			padding: $spacing-unit+10;
			box-sizing: border-box;
			color: $dark-color;
				@media screen and (max-width: 600px) {
					padding: $spacing-unit/2;
				}
				#mc-embedded-subscribe-form {
					padding-right: 60px;
					border-right: 1px solid rgba(255,255,255,.25);
					@media screen and (max-width: 600px) {
						padding-right:0px;
						border-right: none;
					}
				}
				input {
					background: rgba($white, .75);
					border: none;
					padding: 10px;
					width: 100%;
				}
				input[type=submit] {
					background: rgba($ct-turquoise, .85);
					font-weight: bold;
					margin: 15px 0 0;
					color: $white;
					&:hover {
					background: $ct-blue-dark;
					}
				}
				.mc-field-group {
					display: inline-block;
					margin: 15px auto;
				}
				label {
					display: block;
					font-weight: 200;
					color: $white;
				}
			}
		}
		@include media-query($on-palm) {
			display: none;
		}
	}
	#video {
		background-color: #434a54;
		text-align: center;
		padding: 1em;
		video {
			width: 100%;
			height:auto;
			max-width: 720px;
			max-height: 358px;
		}
	}
	#learn-more-summary {
		padding-top: 50px;
		padding-bottom: 50px;
		background-color: $white;
		p:first-of-type {
			text-align: center;
		}
		p > i.fa  {
			text-align: center;
			color: $ct-yellow-dark;
			font-size:50px;
		}
		h2:first-of-type {
			margin-bottom: 40px;
		}
		h2.center {
			text-align: center;
		}
		.row.row-centered {
			text-align: center;
			padding: 1em 0;
		}
	}
	#testimonials {
		padding: 50px;
		padding-top: 20px;
		p {
			max-width: 70%;
			margin-left: auto;
			margin-right: auto;
		}
		p:last-of-type {
			text-align: right;
		}
		.row {
			margin-bottom: 30px;
		}
		h2 {
			margin-bottom: 30px;
		}
	}
	#awards {
		.col-sm-4 {
			text-align: center;
		}
	}
}
//About Page
.about {
	.hero-title {
		margin-top: -175px;
		padding: 200px 0 0px;
		text-align: center;
		/*background: $dark-color;*/
		.post-title {
			span.blue {
				color: $ct-blue;
			}
			span.turq {
				color: $ct-turquoise;
			}
		}
		@include media-query($on-palm) {
			margin-top: 0px;
			padding: 75px 0;
		}
	}
    .post-intro {
        padding:50px 0;
        text-align: left;
    }
    .row {
        padding: 30px 0;
        text-align: center;
        h2 {
        	text-align: left;
        	margin-left: 75px;
        }
        &.team-bios {
	        /*background-color: rgba($grey-color-light, .5)*/
        }
        &.achievements {
	        /*background-color: $grey-color-light;*/
	        p {
		        font-size:12px;
		        margin-top: -15px;
		        color: rgba($ct-blue, .65);
	        }
            p.startupmd {
		        font-size:12px;
		        margin-top: 0px;
		        color: rgba($ct-blue, .65);
	        }
        }
    }
    .team {
        .col-md-4 {
            padding: 50px 30px;
         }
         p {
	         text-align: left;
         }
    }
    /*.team.founders .col-md-4 h3 {
                position: relative;
                bottom: 75px;
                text-align: center;
                color: $white;
            }*/
    .headshot {
    	position: relative;
    	height: 300px;
    	width: 300px;
    	overflow: hidden;
    }
    .bio {
    	width: 300px;
    	height: 300px;
    	padding: 5px;
    	padding-left: 15px;
    	padding-right: 15px;
    	position: absolute;
    	top: 0;
    	bottom: 0;
    	left: 0;
    	right: 0;
    	background: $ct-turquoise;
    	color: #fff;

    	visibility: hidden;
    	opacity: 0;
    	
    }
    .headshot:hover .bio {
    	visibility: visible;
    	opacity: 0.9;
    	-webkit-transition: visibility opacity 0.2s;
    }
    .scroll-wrap {
    	height: 400px;
    	width:100%;
    	background-color: $ct-red;
    	overflow-x: scroll;
    	overflow-y: hidden;
    }

}

//how it works
section.how-it-works {
	.row {
		margin-bottom: 100px;
	}
	.instruction-details {
		display: inline-block;
		&.left {
			float: left;
			max-width: 40%;
		}
		&.right {
			float: right;
			/*border: 10px solid $grey-color-light;
			border-radius: 5px;*/
		}
	}
	.cta {
		margin-top: 50px;
		text-align: center;

		button {
			color: white;
		}
	}
	@include media-query($on-palm) {
		.instruction-details {
			&.left {
				max-width: 100%;
			}
		}
	}
}

//learn More Page
body.learn-more {
	padding-top:0px;
	padding-bottom: 0px !important;
	.hero-title {
		margin-top: -175px;
		padding: 200px 0 0px;
		text-align: center;
		background: linear-gradient(rgba($dark-color, .25), rgba($dark-color, .5)), url('/assets/imgs/marquees/student-on-laptop.jpg');
		background-size: 100%;
		background-position: center;
		.post-title {
			span.blue {
				color: $ct-blue;
			}
			span.turq {
				color: $ct-turquoise;
			}
		}
	}
	.post .container:first-child {
		width: 100% !important;
	}
	.post-content {
		margin-bottom: 0px;
		h2 {
			text-align: center;
			&:after {
				content: '';
				display: block;
				height: 1px;
				width: 10%;
				margin: 10px auto;
				background-color: #48CFAD;
			}
		}
	}
	#tabs {
		ul.ui-tabs-nav {
			padding: 0;
			margin: 0;
			background-color: $grey-color-light;
			text-align: center;

			li {
				display: inline-block;
				width: 16%;
				text-align: center;
				border-right: 1px solid rgba($white, .5);
				a {
					font-weight: 500;
					color: $ct-turquoise;
					display: block;
					padding: 20px 0;
				}
				&:last-child {
					border-right: none;
				}
				&.ui-state-active, &:hover {
					border-bottom: 2px solid $ct-blue;
					a {
						color: $ct-blue;
					}
				}
			}
		}
		.tab-content {
			padding: 1.5em 0 3.5em;
			ul {
				padding: 0;
			}
		}
	}
	@include media-query($on-palm) {
		.hero-title {
			margin-top: 0px;
			padding: 75px 0;
			background-size: cover;
		}
		#tabs ul.ui-tabs-nav {
			li {
				width: 100% !important;
			}
		}
	}
}
//Legal
body.legal {
	padding-top:0px;
	.hero-title {
		margin-top: -175px;
		padding: 200px 0 0px;
		text-align: center;
		background: $dark-color;
		background-size: 100%;
		background-position: center;
		.post-title {
			span.blue {
				color: $ct-blue;
			}
			span.turq {
				color: $ct-turquoise;
			}
		}
		@include media-query($on-palm) {
			margin-top: 0px;
			padding: 75px 0;
		}
		p.intro {
			text-align: center;
		}
	}
	.row {
		padding: 1.5em 0;
	}
}
//Contact Us Page
.contact-us {
	h2 {
		text-align: center;
	}
	.form {
		background: $white;
		margin-bottom: 50px;
		.col-md-6 {
			padding: 0 5%;
		}
		h3 {
			color: $ct-blue;
			font-size: 18px;
			padding: 15px 0;
			margin-bottom: 30px;
			border: 1px solid $grey-color-light;
		}
		input, textarea {
			width:100%;
			margin-bottom: 25px;
			&.cta {
				width: 50%;
                margin-top: 25px;
			}
        }
        input.inline-label {
            width: auto;
            margin: 4px 15px 4px auto;
		}
		button {
			background-color: $ct-turquoise;
			color: $white;
			&:hover {
				opacity:0.75;
			}
		}
	}
}
//FAQs
.faq {
	.question {
		padding-left: 100px;
		padding-right: 100px;
	}
	.row {
		margin-bottom: 50px;
	}
	.cta {
		text-align: center;
		button {
			color: $white;
		}
	}

}
//Work With Us
.work-with-us {
	.form {
		background: $white;
		margin-top: 50px;
		margin-bottom: 50px;
		.col-md-6 {
			padding: 0 5%;
		}
		h3 {
			color: $ct-blue;
			font-size: 18px;
			padding: 15px 0;
			margin-bottom: 30px;
			border: 1px solid $grey-color-light;
		}
		input, textarea {
			width:100%;
			margin-bottom: 25px;
			&.cta {
				width: 50%;
                margin-top: 25px;
			}
        }
        input.inline-label {
            width: auto;
            margin: 4px 15px 4px auto;
		}
		button {
			color: $white;
		}
	}
	.content {
		padding-left: 100px;
		padding-right: 100px;
	}
}