<!DOCTYPE html>
<html>
  {% include head.html %}

  <body class="{{ page.BodyClassTag | remove:'/' }}">

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <script type="text/javascript">
    $(function() {
      if (sessionStorage.getItem('warnockClosed') === 'true') {
        $('.banner').hide();
        $('section.homepage').css('margin-top','-175px');
      }
      $('.close-button').click(function(e) {
        e.preventDefault();
        $('.banner').slideUp();
        $('section.homepage').animate({
          'margin-top': '-175px'
        }, 400)
        sessionStorage.setItem('warnockClosed', 'true');
      });
    });
  </script>
  </body>
</html>
